/* font imports area */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* common css */
.p-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.header-font {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.sub-header-font {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.flex {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(245, 248, 255);
}
#text_dark_gray {
  color: #252432;
}
.highlight_text {
  color: #e95a08;
}
.btn-primary {
  background: #e95a08;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
}

/* common css */

/* header area */
/* nav starts */
.header-container {
  max-width: 1140px;
  margin: 30px auto;
}
.nav-section {
  justify-content: space-between;
  align-items: center;
}
.nav-section .nav-menu {
  align-items: center;
}
.nav-section .nav-menu ul {
  align-items: center;
  gap: 48px;
}
.nav-section .nav-menu ul li {
  list-style: none;
}
.nav-section .nav-menu ul li:hover a {
  color: #252432;
}
.nav-section .nav-menu ul li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 1rem;
}
.nav-section .nav-menu ul li a i {
  padding-right: 10px;
}
#cart_icon {
  color: #252432;
}
.nav-section .nav-menu .cartul {
  margin-left: 48px;
}
/* nav area ends */
/* Banner area starts */
.banner_container {
  justify-content: space-between;
  align-items: flex-end;
  margin: 120px 0;
}
.banner_container .banner_content h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.banner_container .banner_content p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner_container .banner_img {
  width: 100%;
}
/* header ends */
/* Main area starts*/
.main_section {
  max-width: 1140px;
  margin: 0 auto;
}
/* our plant area */
.plant-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.plant-container .plant-heading {
  max-width: 880px;
  margin-bottom: 49px;
}
.plant-container .plant-heading h1 {
  font-size: 3.125rem;
}
.plant-container .plant-heading p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
.plant-container .plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plant-container .plant-card-container .plant-card img {
  width: 100%;
}
.plant-container .plant-card-container .plant-card h3 {
  font-size: 1.35rem;
}
.plant-container .plant-card-container .plant-card .first-card-heading {
  margin-top: 15px;
  margin-bottom: 10px;
}
.plant-card-container .plant-card button {
  margin-top: 20px;
  font-size: 1rem;
}
.plant-container .plant-card-container .plant-card button:hover {
  cursor: pointer;
  background: #be5a20;
}

/* plant lover area */
.plant_lover_container {
  justify-content: space-between;
  gap: 80px;
}
.plant_lover_container .plant-lover-img {
  position: relative;
}
.plant_lover_container .plant-lover-img .badge-img {
  max-width: 280px;
  position: absolute;
  top: -22%;
  left: 65%;
  filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.25));
}

.plant_lover_container .plant_lover_des {
  margin-top: 75px;
}
.plant_lover_container .plant_lover_des h2 {
  font-size: 3.125rem;
}
.plant_lover_container .plant_lover_des li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  margin-top: 20px;
}

/* plant lover area ends*/
/* deal section starts */
.deal-section {
  text-align: center;
  margin-top: 100px;
}
.deal-container .deal-header h1 {
  font-size: 3.125rem;
}
.deal-container .deal-header p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  padding: 10px 220px;
}
.deal-container .deal-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 28px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.deal-container .deal-images .deal-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.deal-container .deal-images .deal-img .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.411);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.deal-container .deal-images .deal-img .overlay h2 {
  font-size: 1.2rem;
}
.deal-container .deal-images .deal-img .overlay a {
  color: #ffffff;
  line-height: 36px;
  text-underline-offset: 6px;
  font-size: 1rem;
}
.deal-container .deal-images .deal-img img {
  border-radius: 14px;
  height: 100%;
  /* width: 100%; */
}
#img-span {
  grid-row: span 2;
}
#big-over-h2 {
  font-size: 2.5rem;
}
#big-over-a {
  font-size: 1.75rem;
}
/* join section */
.join-section {
  background: url(../Images/news-letter-bg.png);
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}
.join-container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.join-container .join-content {
  padding: 200px 0;
}
.join-container .join-content h2 {
  font-size: 3.125rem;
  color: #ffffff;
}
.join-container .join-content form {
  margin-top: 20px;
}
.join-container .join-content form input {
  padding-left: 15px;
  padding-right: 500px;
  padding-top: 19px;
  padding-bottom: 18px;
}
.join-container .join-content form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.join-container .join-content form .btn-sub {
  padding: 19px 80px;
  margin-left: -5px;
}
.join-container .join-content form .btn-sub:hover {
  cursor: pointer;
}

/* footer area */
.footer-seection {
  max-width: 1140px;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .footer-logo {
  margin-top: -98px;
}
.footer-container .footer-logo p {
  /* max-width: 359px; */
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  /* padding-right: 110px; */
  padding-top: 10px;
}
.footer-container .footer-icons ul {
  display: flex;
}
.footer-container ul li {
  list-style: none;
  padding-bottom: 32px;
}
.footer-container ul li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  font-size: 1rem;
}
.footer-container ul li a:hover {
  color: #252432;
}
.footer-container .footer-icons {
  margin-top: -190px;
}
.footer-container .footer-icons ul li {
  list-style: none;
  padding-right: 24px;
}
.footer-container .footer-icons .twitter-logo {
  padding-top: 10px;
}
/* Mobile Responsive Area */
@media screen and (max-width: 576px) {
  /* nav responsive */
  .responsive_dis_none {
    display: none !important;
  }
  .nav-section {
    margin: 13px 16px;
    justify-content: space-between;
  }
  /* banner responsive */
  .banner_container {
    flex-direction: column-reverse;
    margin-top: 28px;
    margin-bottom: 65px;
  }
  .banner_container .banner_img img {
    width: 100%;
  }
  .banner_container .banner_content {
    padding: 28px 16px;
  }
  .banner_container .banner_content h1 {
    font-size: 1.5rem;
    padding-bottom: 13px;
  }
  /* our plant area */
  .plant-container {
    margin-bottom: 42px;
  }
  .plant-container .plant-heading {
    text-align: center;
    padding: 0 28px;
    margin-bottom: 28px;
  }
  .plant-container .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
  }
  .plant-container .plant-card-container .plant-card {
    width: 100%;
  }
  .plant-container .plant-card-container .plant-card button {
    padding: 19px 30px;
    font-size: 0.9rem;
  }
  /* our Plan area */
  .plant_lover_container {
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .plant_lover_container .plant-lover-img img {
    width: calc(100% - 15px);
  }
  .plant_lover_container .plant-lover-img .badge-img {
    display: none;
  }
  .plant_lover_container .plant_lover_des {
    margin-top: -45px;
  }
  .plant_lover_container .plant_lover_des h2 {
    font-size: 1.5rem;
  }
  .plant_lover_container .plant_lover_des li {
    font-size: 0.75rem;
    margin: 15px;
    font-size: 0.75rem;
  }

  /* deal section */
  .deal-header {
    text-align: center;
  }
  .deal-container .deal-header p {
    padding: 30px;
  }
  .deal-container .deal-images {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 28px;
    margin: 0 15px;
  }
  .deal-container .deal-images .deal-img img {
    height: 100%;
    width: 100%;
  }
  .top-img {
    grid-row: 1;
  }
  .mid-img {
    grid-row: 2;
  }
  .bottom-img {
    grid-row: 3;
  }
  .deal-section {
    margin-top: 65px;
  }
  #big-over-h2 {
    font-size: 1.25rem;
  }
  #big-over-a {
    font-size: 1rem;
  }
  /* join area */
  .join-container {
    margin-top: 40px;
  }
  .join-section {
    background: url(../Images/news-letter-bg.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .join-container .join-content {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .join-container .join-content h2 {
    font-size: 1.25rem;
    padding-bottom: 13px;
  }
  .join-container .join-content form input {
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .join-container .join-content form .btn-sub {
    padding: 15px 12px;
    margin-left: -5px;
  }
  /* footer area */
  .footer-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 50px;
  }
  .footer-container p {
    padding-bottom: 10px;
  }
  .footer-container .footer-logo p {
    max-width: auto;
  }
  .footer-container .footer-icons {
    margin-top: 0px;
  }
}
/* Mobile Responsive Area */
